*
{
text-align: justify;
}

p
{
color: black;
}

.abstract
{
color:DimGrey;
font-size:13px;
line-height:13px;
text-align: justify;
margin-left:20px;
}

.article_title
{
color:DarkViolet;
}

em
{
  font-style:italic;
  font-weight:bold;
}

h1, strong
{ 
  font-weight:bold;
}

h2
{
  font-weight:bold;
  text-decoration:underline;
}


